/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*header*/
header {
  height: 50px;
  width: 100%;
  background: #D2D0C6;
}

header div {
  display: flex;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

header img:first-of-type {
  width: 30px;
  height: 20px;
  margin-left: -20px;
}

header img:first-of-type:hover {
  cursor: pointer;
}

header a:first-of-type {
  font-family: Helvetica, Sans-Serif;
  font-size: 13px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 0;
  position: relative;
}

header img:nth-of-type(2) {
  width: 60px;
  height: 20px;
}

header img:nth-of-type(3) {
  width: 60px;
  height: 20px;
  margin-left: -60px;
  margin-right: -40px;
}

/*sidemenu*/
.menu {
    height: 100vh !important;
    width: 100vw !important;
    background-color: #D2D0C6 !important;
    z-index: 1 !important;
    position: absolute;
    top: 0;
    transform: translateX(-100vw);
    transition: transform .5s;
}

.menu div {
    width: 80%;
    display: block;
    position: relative;
}

.menu div img {
    position: absolute;
    top: 50px;
    left: 20px;
    height: 20px;
    width: 20px;
}

.menu div ul {
    padding: 20px 0 50px 0;
    margin-top: 100px;
}

.menu div ul li {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    list-style-type: none;
    font-weight: 600;
    letter-spacing: .1em;
}

.menu div ul li+li {
    margin-top: 40px;
}

.toonMenu {
    transform: translateX(0);
}

.gift {
  width: 100%;
  height: 30px;
  text-align: center;
  background: #000;
  left: 0;
  justify-content: center;
  align-items: center;
  font-family: NexusTypewriterOT, 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 600;
  color: #fff;
  font-size: 8px;
  display: flex;
  margin: 0;
}

.logoheader {
  width: 100%;
  height: 55px;
  background: #ffffff;
  left: 0;
  top: -30px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
}

/*sectie 1*/
section:first-of-type {
  display: flex;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
}

section img:first-of-type {
  width: 100%;
}

section:first-of-type div {
  font-family: FlamaCondensedbld, Oswald, Helvetica, Sans-Serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  max-width: 200px;
  position: absolute;
  left: 30px;
  top: 200px;
  color: #FFF;
}

/*sectie 2*/
section:nth-of-type(2) {
  background: #0e4800;
  width: 100%;
  padding-left: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-of-type(2) h2 {
  color: #fff;
  align-items: center;
  font-size: 15px;
  padding: 0;
  margin-left: 1em;
  line-height: 25px;
  display: flex;
  font-family: NexusTypewriterOT, 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 600;
}

section:nth-of-type(2) img{
  display: flex;
  height: 68px;
  width: 64px;
  position: absolute;
  margin-left: -240px;

}


/*sectie 3*/
section:nth-of-type(3) {
  height: auto;
  width: 100%;
  background-color: #fff;
  padding-bottom: 100px;
}

section:nth-of-type(3) div {
  width: 375px;
  height: 563px;
  display: block;
  margin: auto;
}

section:nth-of-type(3) img {
  width: 315px;
  height: 280px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

section:nth-of-type(3) div .content_text {
  width: 315px;
  height: 263px;
  display: block;
  position: relative;
  margin-top: 110px;
}

section:nth-of-type(3) h3 {
  color: #333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 1.4rem;
  display: block;
}

section:nth-of-type(3) p {
  font-family: NexusTypewriterOT, 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 20px;
  max-width: 350px;
}

section:nth-of-type(3) button {
  text-align: center;
  font-family: FlamaCondensedbld, Oswald, Helvetica, Sans-Serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 20px;
  border: 2px solid #000;
  width: 123px;
  padding: 2px 20px;
  cursor: pointer;
  background-color: #fff;
}



/*sectie 4*/
section:nth-of-type(4) div {
  width: 375px;
  height: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #000;
  text-align: center;
  z-index: 1;
  position: relative;
}

section:nth-of-type(4) h4 {
  color: #fff;
  font-family: FlamaCondensedbld, Oswald, Helvetica, Sans-Serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 40px;
  margin-top: 2rem;
}

section:nth-of-type(4) p {
  color: #fff;
  font-family: NexusTypewriterOT, 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 700;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
}

section:nth-of-type(4) button {
  text-align: center;
  font-family: FlamaCondensedbld, Oswald, Helvetica, Sans-Serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
  background-color: Transparent;
  border: 2px solid #fff;
  width: 123px;
  padding: 2px 20px;
  display: flex;
  justify-content: center;
}

.parallax {
  background-image: url('images/plastic_bottles.jpg');
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*sectie 5*/
section:nth-of-type(5) {
  height: auto;
  width: 100%;
  background-color: #fff;
  margin-bottom: 50px;
  margin-top: 60px;
}

section:nth-of-type(5) div {
  width: 375px;
  height: 563px;
  display: block;
  margin: auto;
}

section:nth-of-type(5) img {
  width: 315px;
  height: 280px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

section:nth-of-type(5) div .content_text {
  width: 315px;
  height: 263px;
  display: block;
  position: relative;
  margin-top: 60px;
}

section:nth-of-type(5) h4 {
  color: #000;
  font-family: FlamaCondensedbld, Oswald, Helvetica, Sans-Serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 40px;
  margin: 20px 0 10px 0;
  display: block;
}

section:nth-of-type(5) p {
  font-family: NexusTypewriterOT, 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  display: block;
  padding-left: 50px;
  margin-bottom: 20px;
  max-width: 350px;
}

section:nth-of-type(5) span {
  font-family: NexusTypewriterOT, 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 200;
  color: #000;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  display: block;
}

section:nth-of-type(5) button {
  width: 25px;
  height: 25px;
  background: #0e4800;
  position: absolute;
  font-size:14px;
  color: #fff;
  display: flex;
  left: 0;
  border-radius: 50%;
  justify-content: center;
}



/*sectie 6*/
section:nth-of-type(6) {
  height: auto;
  width: 100%;
  background-color: #fff;
  padding-bottom: 100px;
  display: flex;
  position: relative;
  margin-top: 80px;
}

section:nth-of-type(6) div {
  width: 315px;
  height: 430px;
  display: inline-block;
  margin: auto;
  cursor: pointer;
  transition: all .8s cubic-bezier(.2, 1, .3, 1);
}

section:nth-of-type(6) img {
  width: 252px;
  height: 270px;
  position: relative;
  margin-left: 10%;
  margin-top: -20px;
}

section:nth-of-type(6) div .content_text {
  width: 315px;
  height: 80px;
  display: block;
  position: relative;
  margin-top: 10px;
}

section:nth-of-type(6) h4 {
  color: #000;
  font-family: FlamaCondensedbld, Oswald, Helvetica, Sans-Serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 40px;
  margin-bottom: 10px;
  z-index: 10;
  position: relative;
}

section:nth-of-type(6) button {
  text-align: center;
  font-family: FlamaCondensedbld, Oswald, Helvetica, Sans-Serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 20px;
  border: 2px solid #000;
  width: 123px;
  padding: 2px 20px;
  cursor: pointer;
  background-color: #fff;
}

/*sectie 7*/
section:nth-of-type(7) {
  height: auto;
  width: 100%;
  background-color: #fff;
  padding-bottom: 100px;
  display: flex;
  position: relative;
}

section:nth-of-type(7) div {
  width: 315px;
  height: 430px;
  display: inline-block;
  margin: auto;
  cursor: pointer;
  transition: all .8s cubic-bezier(.2, 1, .3, 1);
}

section:nth-of-type(7) img {
  width: 252px;
  height: 270px;
  position: relative;
  margin-left: 10%;
  margin-top: -20px;
}

section:nth-of-type(7) div .content_text {
  width: 315px;
  height: 80px;
  display: block;
  position: relative;
  margin-top: 10px;
}

section:nth-of-type(7) h4 {
  color: #000;
  font-family: FlamaCondensedbld, Oswald, Helvetica, Sans-Serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 40px;
  margin-bottom: 10px;
  z-index: 10;
  position: relative;
}

section:nth-of-type(7) button {
  text-align: center;
  font-family: FlamaCondensedbld, Oswald, Helvetica, Sans-Serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  border: 2px solid #000;
  width: 123px;
  padding: 2px 20px;
  cursor: pointer;
  background-color: #fff;
}

/*parallax*/
.parallax {
  width: 100%;
  background-image: url(../images/pastic_bottles.jpg);
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: #000;
  display: block;

}

footer div {
  width: 100%;
  height: auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-direction: row;
  align-items: center;
}

footer div .footer_top_right{
  flex-direction: column;
  display: flex;
  width: 315px;
  height: 78px;
}

footer div img{
  width: 50%;
  display: flex;
  height: auto;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;

}




footer div .footer_top_right{
  display: flex;
  flex-direction: column;
  position: relative;

}

footer  a {
  color: #fff;
  font-family: FlamaCondensedbld, Oswald, Helvetica, Sans-Serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

}

footer p {
  color: #ffffff;
  text-transform: uppercase;
  font-family: NexusTypewriterOT, 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-size: 12px;
  list-style-type: none;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: .1em;
  text-decoration: none;
}


input[type=submit] {
  background-color: white;
  color: black;
  border: none;
  padding: 12px;
}

input[type=submit]:hover {
  background: #0e4800;
  color: white;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}




.slides {display:none;}
