/*!
 * Name: house of marley
 * Version: 1.0.0
 * Author: Kim van Velzen
*/
/**!**************/
/**! Contents **/
/**! 01. core **/
/**! 02. header **/
/**! 03. navigation **/
/**! 04. video **/
/**! 05. section 1 **/
/**! 06. section 2 **/
/**! 07. section 3 **/
/**! 08. section 4 **/
/**! 09. section 5 **/
/**! 10. section 6 **/
/**! 11. section 7 **/
/**! 12. buttons **/
/**! 13. footer **/

/**! 01. core **/
*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}


/**! 02. header **/
.gift {
  width: 100%;
  height: 30px;
  text-align: center;
  background: #000;
  left: 0;
  justify-content: center;
  align-items: center;
  font-family: NexusTypewriterOT, 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 600;
  color: #fff;
  font-size: 8px;
  display: flex;
  margin: 0;
}

header {
  height: 50px;
  width: 100%;
  background: #D2D0C6;
}

header div {
  display: flex;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

header img:first-of-type {
  width: 30px;
  height: 20px;
  margin-left: -20px;
}

header img:first-of-type:hover {
  cursor: pointer;
}

header a:first-of-type {
  font-family: Helvetica, Sans-Serif;
  font-size: 13px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 0;
  position: relative;
}

header img:nth-of-type(2) {
  width: 60px;
  height: 20px;
}

header img:nth-of-type(3) {
  width: 60px;
  height: 20px;
  margin-left: -60px;
  margin-right: -40px;
}

/**! 03. navigation **/
.menu {
  height: 100vh !important;
  width: 100vw !important;
  background-color: #D2D0C6 !important;
  z-index: 1 !important;
  position: absolute;
  top: 0;
  transform: translateX(-100vw);
  transition: transform .5s;
}

.menu div {
  width: 80%;
  display: block;
  position: relative;
}

.menu div img {
  position: absolute;
  top: 50px;
  left: 20px;
  height: 20px;
  width: 20px;
}

.menu ul {
  padding: 20px 0 50px 0;
  margin-top: 100px;
}

.menu li {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  list-style-type: none;
  font-weight: 600;
  letter-spacing: .1em;
}

.menu div ul li+li {
  margin-top: 40px;
}

.toonHamburgermenu {
  transform: translateX(0);
}

.logoheader {
  width: 100%;
  height: 55px;
  background: #ffffff;
  left: 0;
  top: -30px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
}

/**! 04. video **/
.video_header iframe {
  width: 100vw;
  height: 50vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**! 05. section 1 **/
section:first-of-type {
  display: flex;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
}

section:first-of-type div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 585px;
  z-index: -1;
  overflow: hidden;
}

section:first-of-type .content_header {
  font-family: Oswald, Helvetica, Sans-Serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  max-width: 210px;
  position: absolute;
  left: 30px;
  top: 200px;
  color: #fff;
}

/**! 06. section 2 **/
section:nth-of-type(2) {
  background: #0e4800;
  width: 100%;
  padding-left: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-of-type(2) h2 {
  color: #fff;
  align-items: center;
  font-size: 15px;
  padding: 0;
  margin-left: 1em;
  line-height: 25px;
  display: flex;
  font-family: NexusTypewriterOT, 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 600;
}

section:nth-of-type(2) img {
  display: flex;
  height: 68px;
  width: 64px;
  position: absolute;
  margin-left: -240px;
}

/**! 07. section 3 **/
section:nth-of-type(3) {
  height: auto;
  width: 100%;
  background-color: #fff;
  padding-bottom: 100px;
  margin-bottom: 50px;
  display: block;
}

section:nth-of-type(3) div {
width: 375px;
height: 563px;
margin: auto;
}

section:nth-of-type(3) img {
  width: 315px;
  height: 280px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

section:nth-of-type(3) div .content {
  width: 315px;
  height: 263px;
  display: block;
  position: relative;
  margin-top: 60px;
}

section:nth-of-type(3) h3 {
  color: #000;
font-family: Oswald, Helvetica, Sans-Serif;
font-weight: 700;
line-height: 40px;
font-size: 40px;
margin-bottom: 20px;
display: block;
}

section:nth-of-type(3) p {
  font-family: 'Courier New', monospace;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 20px;
  max-width: 350px;
}

section:nth-of-type(3) span {
  font-family: 'Courier New', monospace;
  font-weight: 700;
  color: #000;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.button_animation1{
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
}

/**! 08. section 4 **/
section:nth-of-type(4) div {
  width: 375px;
  height: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #000;
  text-align: center;
  z-index: 1;
  position: relative;
}

section:nth-of-type(4) h4 {
  color: #fff;
  font-family: Oswald, Helvetica, Sans-Serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 40px;
  margin-top: 2rem;
}

section:nth-of-type(4) p {
  color: #fff;
  font-family: 'Courier New', monospace;
  font-weight: 700;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
}

section:nth-of-type(4) button {
  text-align: center;
  font-family: Oswald, Helvetica, Sans-Serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
  background-color: Transparent;
  border: 2px solid #fff;
  width: 123px;
  padding: 2px 20px;
  display: flex;
  justify-content: center;
}

.parallax {
  background-image: url('images/plastic_bottles.jpg');
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/**! 09. section 5 **/
section:nth-of-type(5) {
  height: auto;
  width: 100%;
  background-color: #fff;
  margin-bottom: 50px;
  margin-top: 60px;
}

section:nth-of-type(5) div {
  width: 375px;
  height: 563px;
  margin: auto;
}

section:nth-of-type(5) img {
  width: 315px;
  height: 280px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

section:nth-of-type(5) div .content {
  width: 315px;
  height: 263px;
  display: block;
  position: relative;
  margin-top: 60px;
}

section:nth-of-type(5) h4 {
  color: #000;
  font-family: Oswald, Helvetica, Sans-Serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 40px;
  margin-bottom: 20px;
  display: block;
}

section:nth-of-type(5) span {

font-family: 'Courier New', monospace;
font-weight: 200;
color: #000;
font-size: 18px;
line-height: 20px;
font-weight: 700;
margin-bottom: 20px;
display: block;
}

section:nth-of-type(5) p {
  font-family: 'Courier New', monospace;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  display: block;
  padding-left: 50px;
  margin-bottom: 20px;
  max-width: 350px;
  transition: all .2s;
}

section:nth-of-type(5) button {
  width: 25px;
  height: 25px;
  background: #0e4800;
  position: absolute;
  font-size: 14px;
  color: #fff;
  display: flex;
  left: 0;
  border-radius: 50%;
  justify-content: center;
}

section:nth-of-type(5) #more {
  font-family: 'Courier New', monospace;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  padding-left: 50px;
  margin-bottom: 20px;
  max-width: 350px;
  display: none;

}

/**! 10. section 6 **/
section:nth-of-type(6) {
  height: auto;
  width: 100%;
  background-color: #fff;
  padding-bottom: 100px;
  display: flex;
  position: relative;
  margin-top: 250px;
}

section:nth-of-type(6) div {
  width: 315px;
  height: 430px;
  display: inline-block;
  margin: auto;
  cursor: pointer;
}

section:nth-of-type(6) img {
  width: 252px;
  height: 270px;
  position: relative;
  margin-left: 10%;
  margin-top: -20px;
}

section:nth-of-type(6) div .content_text {
  width: 315px;
  height: 80px;
  display: block;
  position: relative;
  margin-top: 10px;
}

section:nth-of-type(6) h5 {
  color: #000;
  font-family: Oswald, Helvetica, Sans-Serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 40px;
  margin-bottom: 10px;
  z-index: 10;
  position: relative;
}

section:nth-of-type(6) button {
  text-align: center;
  font-family: Oswald, Helvetica, Sans-Serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
  border: 2px solid #000;
  width: 123px;
  padding: 2px 20px;
  cursor: pointer;
  background-color: #fff;
}

.button_animation2{
  transform: translate(-50%, -50%);
  position: relative;
  top: 55%;
  left: 53.5%;
}

/**! 11. section 7 **/
section:nth-of-type(7) {
  height: auto;
  width: 100%;
  background-color: #fff;
  padding-bottom: 100px;
  display: flex;
  position: relative;
}

section:nth-of-type(7) div {
  width: 315px;
  height: 430px;
  display: inline-block;
  margin: auto;
  cursor: pointer;
}

section:nth-of-type(7) img {
  width: 252px;
  height: 270px;
  position: relative;
  margin-left: 10%;
  margin-top: -20px;
}

section:nth-of-type(7) div .content_text {
  width: 315px;
  height: 80px;
  display: block;
  position: relative;
  margin-top: 10px;
}

section:nth-of-type(7) h5 {
  color: #000;
  font-family: Oswald, Helvetica, Sans-Serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 40px;
  margin-bottom: 10px;
  z-index: 10;
  position: relative;
}

.button_animation2{
  transform: translate(-50%, -50%);
  position: relative;
  top: 55%;
  left: 53.5%;
}


/*parallax*/
.parallax {
  width: 100%;
  background-image: url(../images/pastic_bottles.jpg);
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**! 12. buttons **/
/* INSPIRATIE EN CODE VAN: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover */
/* INSPIRATIE EN CODE VAN: Les animaties https://codepen.io/shooft/pen/xxVmpEP*/
.btn {
 width: 130px;
 position: relative;
 display: block;
 color: #000;
 font-family: Oswald, Helvetica, Sans-Serif;
 font-size: 18px;
 line-height: 40px;
 font-weight: 700;
 text-transform: uppercase;
 margin-left: 20px;
 padding: 2px 20px;
 border: 4px solid #0e4800;
 text-decoration: none;
 overflow: hidden;
 transition: 0.8s all ease;
}

.btn::before {
 background: #0e4800;
 content: "";
 width: 100%;
 height: 100%;
 position: absolute;
 z-index: -1;
 top: 50%;
 left:50%;
 transform: translate(-50%, -50%);
 transition: all 0.5s ease;
}

.btn1::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg)
}

.btn1:hover::before{
  height:360%;
}

.btn2::before {
  width: 100%;
  height: 0;
}

.btn2:hover::before{
  height: 100%;
}

.btn3::before {
  width: 0;
  height: 100%;
}

.btn3:hover::before{
  width: 100%;
}


/**! 13. footer **/
footer {
  background-color: #000;
  display: block;
}

footer .footer-content {
  width: 375px;
  height: auto;
  display: block;
  position: relative;
}

footer div {
  width: 100%;
  height: auto;
  padding: 20px;
}

footer .links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 375px;
  height: auto;
}

footer img {
  width: 40%;
  height: auto;
}

footer a {
  color: #fff;
  font-family: Oswald, Helvetica, Sans-Serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

footer p {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Courier New', monospace;
  font-size: 12px;
  list-style-type: none;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: .1em;
  text-decoration: none;
}

input[type=submit] {
    text-align: center;
    font-family: Oswald, Helvetica, Sans-Serif;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    padding: 12px;
    background-color: #fff;
    transition: 0.2s;

}

input[type=text] {
  width: 100%;
  padding: 12px;
}
